* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

* a:hover {
  opacity: 0.3;
}

@media (min-width: 769px) {
  main .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main .inner > div {
    width: 50%;
  }
  main .inner > div.textBox > div:nth-child(2) {
    padding: 50px 0;
  }
  main .mainImg {
    background-image: url(images/recipe.jpeg);
    background-size: cover;
    background-position: right;
  }
  main .textBox {
    padding: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main .textBox > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main .textBox > div h1 {
    font-size: 25px;
    line-height: 2em;
  }
  main .textBox > div h2 {
    font-size: 18px;
    line-height: 2em;
  }
  main .textBox > div p {
    font-size: 0.9em;
  }
  main .textBox > div h2 {
    border-bottom: 1px solid gray;
  }
  main .textBox > div * > tr {
    text-align: left;
  }
  main .textBox > div * > tr th {
    border-bottom: 1px dashed gray;
    padding: .4em 0;
  }
  main .textBox > div * > tr td {
    text-align: right;
    border-bottom: 1px dashed gray;
    padding: .4em 0;
  }
  main .textBox > div ol {
    padding-left: 20px;
  }
  main .textBox > div ol li {
    border-bottom: 1px dashed gray;
    padding: 3px 0;
    text-align: left;
  }
  main .button {
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .button > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .button > div a {
    border: black solid 1px;
    padding: 20px 60px;
  }
  footer > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer > div:first-child ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 220px;
  }
  footer > div:first-child ul li {
    list-style: none;
  }
  footer > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 5em;
  }
}

@media (max-width: 768px) {
  .textBox {
    padding: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .textBox > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .textBox > div h1 {
    font-size: 25px;
    line-height: 2em;
  }
  .textBox > div h2 {
    font-size: 18px;
    line-height: 2em;
  }
  .textBox > div p {
    font-size: 0.9em;
  }
  .textBox > div h2 {
    border-bottom: 1px solid gray;
  }
  .textBox > div * > tr {
    text-align: left;
  }
  .textBox > div * > tr th {
    border-bottom: 1px dashed gray;
    padding: .4em 0;
  }
  .textBox > div * > tr td {
    text-align: right;
    border-bottom: 1px dashed gray;
    padding: .4em 0;
  }
  .textBox > div ol {
    padding-left: 20px;
  }
  .textBox > div ol li {
    border-bottom: 1px dashed gray;
    padding: 3px 0;
    text-align: left;
  }
  .mainImg {
    background-image: url(images/recipe.jpeg);
    background-size: cover;
    background-position: -130px -620px;
  }
  .button {
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button > div a {
    border: black solid 1px;
    padding: 20px 60px;
  }
  footer > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer > div:first-child ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 220px;
  }
  footer > div:first-child ul li {
    list-style: none;
  }
  footer > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 5em;
  }
  main .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  main .inner > div.mainImg {
    background-attachment: fixed;
    background-size: 150%;
  }
}

@media (max-width: 768px) and (min-width: 641px) {
  main .inner > div.mainImg {
    height: 650px;
  }
}

@media (max-width: 768px) {
  main .inner > div.textBox > div {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) and (min-width: 641px) {
  main .inner > div.textBox > div:nth-child(2), main .inner > div.textBox > div:nth-child(3) {
    width: 50%;
  }
  main .inner > div.textBox > div {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 640px) {
  .textBox {
    padding: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .textBox > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .textBox > div h1 {
    font-size: 25px;
    line-height: 2em;
  }
  .textBox > div h2 {
    font-size: 18px;
    line-height: 2em;
  }
  .textBox > div p {
    font-size: 0.9em;
  }
  .textBox > div h2 {
    border-bottom: 1px solid gray;
  }
  .textBox > div * > tr {
    text-align: left;
  }
  .textBox > div * > tr th {
    border-bottom: 1px dashed gray;
    padding: .4em 0;
  }
  .textBox > div * > tr td {
    text-align: right;
    border-bottom: 1px dashed gray;
    padding: .4em 0;
  }
  .textBox > div ol {
    padding-left: 20px;
  }
  .textBox > div ol li {
    border-bottom: 1px dashed gray;
    padding: 3px 0;
    text-align: left;
  }
  .mainImg {
    background-image: url(images/recipe.jpeg);
    background-size: cover;
    background-position: -20px -300px;
  }
  .button {
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button > div a {
    border: black solid 1px;
    padding: 20px 60px;
  }
  footer > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer > div:first-child ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 220px;
  }
  footer > div:first-child ul li {
    list-style: none;
  }
  footer > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 5em;
  }
  main .inner .mainImg {
    background-size: 120%;
    height: 400px;
  }
}
/*# sourceMappingURL=howTo.css.map */