@charset "UTF-8";

@mixin footer() {
    footer{
        >div:first-child{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                display: flex;
                justify-content: space-between;
                width: 220px;
                
                li{
                list-style: none;
                a{}}}
        }
        >div:last-child{
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 5em;
        }
    }
}
@mixin button() {
    .button{
        padding: 70px 0;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                border: black solid 1px;
                padding: 20px 60px;
            }
        }
    }

}
@mixin mainImg($bg-pos){
    .mainImg{
        background-image: url(images/recipe.jpeg);
        background-size: cover;
        background-position: $bg-pos ;
        } 
};
@mixin textBoxChild($direction) {
    .textBox{
        padding: 45px;
        display: flex;
        flex-flow: $direction wrap;

        // div3つ共通
        >div{
        display: flex;
        flex-flow: column wrap;

            // 見出しh1・h2
            h1{
                font-size: 25px;
                line-height: 2em;
            }
            h2{
                font-size: 18px;
                line-height: 2em;
            }
            p{
                font-size: 0.9em;        
            }
            >h1,>h2{
            }
            h2{
                border-bottom: 1px solid gray;
            }

            // テーブル
            *>table{

            }
            
            *>tr{
                text-align: left;
                th{border-bottom: 1px dashed gray;
                    padding:.4em 0 ;
                }
                td{
                    text-align: right;
                    border-bottom: 1px dashed gray;
                    padding:.4em 0 ;
                }
            }
            ol{
                padding-left: 20px;
                li{
                    
                    border-bottom: 1px dashed gray;
                    padding:3px 0 ;
                    text-align: left;
                }
            }
        
    }}
    
};
* {
    padding: 0;
    margin: 0;
    border: 0;

    box-sizing: border-box;
    // list-style: none;
    // font-size: 14px;

    text-decoration: none;
    a:hover {
        opacity: 0.3;
    }
}

// ＼ パソコン ／
@media (min-width: 769px) {
    main{ 
        .inner{
        display: flex;
        flex-flow: row wrap;
            >div{
                width: 50%;
                
                &.mainImg{
                } 
                &.textBox{
                    >div{
                        &:nth-child(2){    
                            padding: 50px 0;
                        }
                    }
                }       
            }
        }
        @include mainImg(right);
        @include textBoxChild(column);
        @include button()
    }
    @include footer();    
    
    

}
// ／タブレット＼
@media (max-width: 768px) {
    @include textBoxChild(row);
    @include mainImg(-130px -620px);
    @include button();
    @include footer();
    main{ 
        .inner{
        display: flex;
        flex-flow: column;
            >div{
                &.mainImg{
                    @media (min-width: 641px) {
                        height: 650px;
                    }
                    background-attachment: fixed;
                    background-size: 150%;
                }
                &.textBox{
                    >div{
                        padding-bottom: 50px;
                    }
                    @media (min-width: 641px) {
                        >div:nth-child(2),>div:nth-child(3){
                            width: 50%;
                        }
                        >div{
                            padding-right:40px;
                            padding-left: 40px;
                        }
                    } 
                }     
            }
        }
    }

}
// ／スマホ＼
@media (max-width: 640px) {
    @include textBoxChild(column);
    @include mainImg(-20px -300px);
    @include button();
    @include footer();
    main{
        .inner{
                .mainImg{
                    background-size: 120%;
                    height: 400px;
                }
            }
        
    }

}
